/* navbar */
.logotitle{
    color: #132C70;
}

.section1{
    background-color: #f8e5e4;
    height: 1300px;
}

/* sectiuon 2 */

.sectoin2-h2{
    font-family: serif;
    margin-top: 200px;
    font-size: 50px;
}

/* section 3 */

.section3{
    background-color: #f8e5e4; 
}

/* section 4 */

/* .col{
    margin-left: -220px;
}
.col1{
    margin-left: 110px;
} */
h2, h4, h5{
    font-family: serif;
    color: #132C70;
}














